{% extends "students/base.html" %}

{% load static from staticfiles %}

{% block meta_title %}Додати іспит{% endblock meta_title %}

{% block title %}Додати іспит{% endblock title %}

{% block status_message %}
{% if errors %}
<div class="alert alert-warning" role="alert">Будь ласка, виправте наступні помилки:</div>
{% endif %}
{% endblock status_message %}

{% block content %}

<form action="{% url "exams_add" %}" method="post"
      role="form" class="form-horizontal">

    {% csrf_token %}

    <div class="form-group {% if errors.subject %}has-error{% endif %}">
        <label for="subject" class="col-sm-2 control-label">Предмет*</label>
        <div class="col-sm-10">
            <input type="text" value="{{ request.POST.subject }}"
            name="subject" id="subject"
            placeholder="Введіть ваше ім'я" class="form-control">
            <span class="help-block">{{ errors.subject }}</span>
        </div>
    </div>
    <div class="form-group {% if errors.lecturer %}has-error{% endif %}">
        <label for="lecturer" class="col-sm-2 control-label">Викладач*</label>
        <div class="col-sm-10">
            <input type="text" value="{{ request.POST.lecturer }}"
            name="lecturer" id="lecturer"
            placeholder="Введіть ваше прізвище" class="form-control">
            <span class="help-block">{{ errors.lecturer }}</span>
        </div>
    </div>
    <div class="form-group {% if errors.exams_group %}has-error{% endif %}">
        <label for="exams_group" class="col-sm-2 control-label">Група*</label>
        <div class="col-sm-10">
            <select name="exams_group" id="exams_group" class="form-control">
                <option value="">Виберіть групу</option>
                {% for group in groups %}
                    <option value="{{ group.id }}"
                     {% if group.id == request.POST.exams_group|add:0 %}selected="1"{% endif %}>{{ group.title }}</option>
                {% endfor %}
            </select>
            <span class="help-block">{{ errors.exams_group }}</span>
        </div>
    </div>
    <div class="form-group {% if errors.date_of_exam %}has-error{% endif %}">
        <label for="date_of_exam" class="col-sm-2 control-label">Дата проведення*</label>
        <div class="col-sm-10">
            <input type="text" value="{{ request.POST.date_of_exam }}"
            name="date_of_exam" id="date_of_exam"
            placeholder="Напр. 07-12-15:45" class="form-control">
            <span class="help-block">{{ errors.date_of_exam }}</span>
        </div>
    </div>
    <div class="form-group {% if errors.notes %}has-error{% endif %}">
        <label for="notes" class="col-sm-2 control-label">Додаткові нотатки</label>
        <div class="col-sm-10">
            <textarea name="notes" id="notes" class="form-control"
            cols="30" rows="10" placeholder="Введіть додаткові нотатки"></textarea>
            <span class="help-block">{{ errors.notes }}</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"></label>
        <div class="col-sm-10">
            <input type="submit" value="Додати"
            name="add_button" class="btn btn-primary">
            <button type="submit" name="cancel_button" class="btn btn-link">Скасувати</button>
        </div>
    </div>
</form>
{% endblock content %}
